/* ===============================
   Colour Palette:
   ---------------
   Light Cream:	#f2f3ee
   Orange:			#d17f38
   Yellow:			#e8c04f
   Brown:			#4b2707
   =============================== */

/* General */

body {
   -webkit-font-smoothing: antialiased;
   text-rendering: optimizelegibility;
   background: #f2f3ee url("../images/bg-tile.gif") top left repeat;
   color: #4b2707;
   font-size: 14px;
   margin:0;
   padding:0;
}

.container {
   width: 925px;
   margin: 0 auto;
   padding: 30px 24px;
}


/* Typography */

h1, h2 {
   color: #d17f38;
   font-size: 40px;
   font-weight: normal;
   font-family: "Love Ya Like A Sister";
   line-height: 45px;
   margin: 0;
}

h1 {
   text-align: center;
   padding: 0 0 20px;
   background: url(../images/header-divider.png) bottom center no-repeat;

}

h1 em {
   font-style: normal;
   color: #4b2707;
}

h2 {
   font-size: 34px;
   margin-bottom:15px;

}

h3 {
margin: 0;
}

p.lead {
   font-size: 30px;
   font-weight: 300;
   text-align: center;
   margin: 10px 0;
}

p {
   margin: 0;
   margin-bottom: 10px;
}

a:link {
   color: #d17f38;
   
}

a:visited {
   color: #d17f38;
   
}

a:hover {
   color: #4b2707;
   
}

hr {
   
   border: none;
   height: 33px;
   width: 333px;
   margin : 30px auto;
   background: url("../images/divider.png") center center no-repeat;
   
}


/* Header */

header nav {
  
   background:url("../images/logo.png")no-repeat center center ;
   height:20vh;
   margin-bottom: 10px;
   padding: 10px;
   margin-right: 100px;
   
   
   
   
}

header nav ul {
   
   display: flex;
   justify-content: space-between;
   list-style-type: none;
   margin-right: 20px;
   
   

}

header nav ul li {

   margin-top:75px;
   margin-right:80px;
   margin-left: 80px;
   
}

header nav ul li a {
  
   text-decoration:none;
   color:#d17f38;
   font-weight:bold;
   text-transform: uppercase;
   padding-right: 30px;
   
   margin-left: -90px;
     

   

   
   
   
   
  
   
  

}

header nav ul li a:hover {

  
}

header nav ul li#logo a {
  
display: none;

}

header nav ul li#logo a:hover {

   margin-right: 80px;
   margin-left:45px;

}


/* Hero */

#hero {

   background-color: #e8c04f;
   display: flex;
   justify-content: center;

}

#hero .container {
   position: relative;
}

#hero .large-ribbon {
   height: 200px;
   width: 150px;
   background: url("../images/fresh-whole-ingredients.png") top left no-repeat;
   position: absolute;
   top: -25px;
   right: -30px;
   text-indent: -9999px;

}


/* The Whole Story */

#story-excerpt {
   
   width: 530px;
   margin-right: 24px;
   float: left;
   font-size: 16px;


}

#best-donut {
   
   background: url("../images/award.png") left center no-repeat;
   padding: 30px 0 30px 130px;
   float: left;
   width: 240px;
}


/* News & Events */

#articles {

   float: left;
   width:400px;
   margin-right: 25px;
   
}

#feature-image {

   float: left;
   width:400px;

}

#news-events article {
   
   
}

#news-events article.news {

   background: url(../images/icon-news.png)  no-repeat; 
   text-align: left;
    padding-left: 50px;
   
    margin-bottom: 15px ;
   

}

#news-events article.event {

   background:url(../images/icon-calendar.png) no-repeat;
   text-align: left;
  padding-left: 50px;

}

#news-events header time {
float: left;
}

#news-events section.excerpt {

}

#news-events footer {

}


/* Footer */

footer.main {
   background: #4b2707 url("../images/bg-tile-brown.gif");
   color: #f2f3ee;
   padding: 30px;
}

footer.main a:hover {
   color: #f2f3ee;
}

#uncopyright, #credits {
   width: 250px;
   float: left;
   padding-left:50px;
}

#uncopyright {
   background: url(../images/icon-recycle.png)center left no-repeat;
}

#credits {
   background: url(../images/icon-apple.png)center left no-repeat;
   float: right;
   margin-top: 10px;
}


/* Force Elements to Self Clear its Children: http://css-tricks.com/snippets/css/clear-fix/ */

.clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
	}
* html .group             { zoom: 1; } /* IE6 */
*:first-child+html .group { zoom: 1; } /* IE7 */





